.debug > nav {
  border: 1px solid black;
}

.debug .container {
  border: 1px solid grey;
}

.debug [class*='col'] {
  border: 1px solid red;
  height: 100px;
}

[class*='col'] {
  height: 100px;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.nav-right {
  justify-content: flex-end;
}

.nav-left > ul > li, .nav-right > ul > li {
  display: inline-block;
  padding-right: 20px;
  position: relative;
}

.nav-left > img {
  width: 100px;
  vertical-align: middle;
  margin-right: 20px;
}

.nav-right > ul {
  display: flex;
  justify-content: flex-end;
}

.nav-right select {
  border: none;
}

.my_btn {
  background-color: #EB008D;
  border-radius: 40px;
}

.my_dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.active {
  display: block;
}
